<!-- Footer -->
<div class="email-footer">
  <div class="footer-text">
    <a href="" target="_blank">Forward this email</a> to a friend.
    <a href="" target="_blank">Click here to unsubscribe or manage your preferences.</a>
    <br />
    &copy; {date(yyy)} Acme. All Rights Reserved.
    <br />
    Phasellus feugiat mollis tincidunt. Suspendisse.
  </div>
</div>
<!-- /Footer -->
