<!-- Divider -->
<table border="0" cellpadding="0" cellspacing="0" class="section-divider blank">
  <tr>
    <td class="gutter"></td>
    <td>&nbsp;</td>
    <td class="gutter"></td>
  </tr>
</table>
<!-- /Divider -->

<!-- Header -->
<div class="email-header">
  <a href="" title="" target="_blank">
    <img src="http://unsplash.it/800/152" alt="" width="212" height="40" />
  </a>
</div>
<!-- /Header -->

<!-- Divider -->
<table border="0" cellpadding="0" cellspacing="0" class="section-divider header">
  <tr>
    <td class="gutter"></td>
    <td>&nbsp;</td>
    <td class="gutter"></td>
  </tr>
</table>
<!-- /Divider -->
