<table class="content-block" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <div class="pullquote">
        <p><%= text %></p>
      </div> <!-- /pullquote -->
    </td>
  </tr>
</table>
