<!-- Button -->
<center style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
  <div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
    <!--[if mso]>
    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:40px;v-text-anchor:middle;width:200px;" arcsize="5%" stroke="f" fillcolor="#57696d">
    <w:anchorlock/>
    <center>
      <![endif]-->
      <a href="" style="-webkit-text-size-adjust: none; background: #57696d; border-radius: 2px; color: #FFF; display: inline-block; font-family: sans-serif; font-size: 13px; font-weight: bold; line-height: 40px; text-align: center; text-decoration: none; text-transform: uppercase; transition: color .3s ease-in-out; width: 200px">
        BUTTON
      </a>
      <!--[if mso]>
    </center>
    </v:roundrect>
    <![endif]-->
  </div>
</center>
