<!-- Footer -->
<div class="email-footer" style="color: #666; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10px; line-height: 1.7em; padding: 14px 0 40px; text-align: center" align="center">
  <div class="footer-text" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
    <a href="" target="_blank" style="background: transparent; color: #7b9196; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; text-decoration: underline; transition: color .3s ease-in-out">Forward this email</a> to a friend.
    <a href="" target="_blank" style="background: transparent; color: #7b9196; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; text-decoration: underline; transition: color .3s ease-in-out">Click here to unsubscribe or manage your preferences.</a>
    <br style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
    © {date(yyy)} Acme. All Rights Reserved.
    <br style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
    Phasellus feugiat mollis tincidunt. Suspendisse.
  </div>
</div>
<!-- /Footer -->
