<!-- Pre-Header -->
<div class="pre-header" style="color: #ccc; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 11px; font-weight: normal; padding-top: 5px; text-align: center" align="center">
  <a href="%7Bview_url%7D" style="background: transparent; color: #ccc; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; text-decoration: none; transition: color .3s ease-in-out">Etiam vitae neque sed ligula</a>
  | <a href="%7Bview_url%7D" style="background: transparent; color: #ccc; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; text-decoration: none; transition: color .3s ease-in-out">View in browser</a>
</div>
<!-- /Pre-Header -->
