<div class="home">
  <header class="index-header">
    <h1>Email Styleguide</h1>
  </header> <!-- /index-header -->

  <article>
    <p>The typical email will have a header and footer with various content sections sandwiched in the middle of the two. The <%= link_to "styleguide", "/styleguide" %> is composed of a number of elements that can be copied and inserted anywhere between the email's header and footer.</p>
    <p>Creating a new template is fairly straightforward, just make sure to start with <%= link_to "this empty HTML file", "/styleguide/empty" %>.</p>
    <p>Delete the "MODULES AND CONTENT GO HERE" comment and paste in the correct HTML.</p>
    <p>Make sure to run the HTML in a <%= link_to "validator", "http://validator.w3.org/#validate_by_input" %> to make sure there aren't any errors.</p>
    <p>And if this is the first time this template is being used, make sure to run a quick test in <%= link_to "Litmus", "https://litmus.com/tests" %> to make sure it renders correctly in the majority of email clients.</p>
  </article>
</div>

